.admin-true-background-container{
    background-image: url(img/background_index.png);
    background-size: cover;
    background-position: center;
    height: 42vh;
    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: column;

    .text{
        margin-top: 50px;
        padding: 20px 10%;
        background-color: #101640;
        color: white;
        text-align: center;

        h1{
            font-family: $montsans;
            font-size: 48px;
            @include xs{
                font-size: 32px;
            }
            
            @include mobileS{
                font-size: 28px;
            }
        }
    }

    .choice{
        display: flex;
        gap: 40px;
        justify-content: center;
        margin: 30px auto 0;

        div{
            padding: 15px 30px;
            background-color: #101640;
            color: white;
            font-family: $montsans;
            transition: 300ms;
            font-weight: 600;
            cursor: pointer;

            &:hover{
                background-color: #fff;
                color: #101640;
            }

            &.active{
                background-color: #fff;
                color: #101640; 
            }
        }
    }
}

.admin-false-background-container{
    background-image: url(img/background_index.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: grid;
    place-items: center;
    .text{
        margin-top: 50px;
        padding: 20px 10%;
        background-color: #101640;
        color: white;
        text-align: center;

        h1{
            font-family: $montsans;
            font-size: 48px;
            @include xs{
                font-size: 32px;
            }
            
            @include mobileS{
                font-size: 28px;
            }
        }
    }
}

.contact-section{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;

    &.show{
        display: flex;
        animation-name: littlescaleshow;
	    animation-duration: 350ms;
    }
    &.hide{
        display: none;
    }

    .card-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include mobileS{
            width: 100%;
        }

        .drakkar{
            position: relative;
            top: 3px;
        }

        .card{
            border: 7px solid #101640;
            height: 300px;
            width: 350px;
            overflow: hidden;
            position: relative;
            background-image: url('img/background_index_mountain.png');
            background-position: center;
            background-size: cover;
            color: white;
            font-family: $montsans;

            @include mobileS{
                width: 100%;
            }

            .filter{
                background-color: rgba(0, 0, 0, 0.4);
                padding: 20px;
                overflow: hidden;
                height: 100%;

                h3{
                    font-size: 24px;
                    font-weight: 700;
                    text-align: center;
                    @include mobileS{
                        font-size: 20px;
                    }
                }
        
                h4{
                    font-size: 20px;
                    font-weight: 200;
                    text-align: center;
                    margin: 20px 0;
                    @include mobileS{
                        font-size: 16px;
                    }
                }
        
                p{
                    font-size: 16px;
                    overflow: auto;
                    line-height: 1.2;
                    height: 70%;
                    text-align: justify;
                    padding-right: 7px;
                    @include mobileS{
                        font-size: 14px;
                        text-align: left;
                    }

                    &::-webkit-scrollbar{
                        width: 5px;
                    }

                    &::-webkit-scrollbar-thumb{
                        background-color: white;
                        border-radius: 20px;
                    }
                }
        
                .delete{
                    margin-top: 10px;
                    text-align: right;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
        
                .deletemessage{
                    border: none;
                    background: none;
                    color: white;
                    font-family: $montsans;
                    width: 40px;
                    height: 40px;
                    font-size: 20px;
                    padding: 5px;
                    border-radius: 50%;
                    font-weight: 700;
                    cursor: pointer;
                }
            }  
        }
    }
}

.project-section{
    &.show{
        display: flex;
        animation-name: littlescaleshow;
	    animation-duration: 350ms;
    }

    &.hide{
        display: none;
    }
    flex-direction: column;
    justify-content: center;
    place-items: center;
    margin-top: 3%;
    @include mobileS{
        margin-top: 6%;
    }

    h2{
        font-size: 48px;
        font-weight: 700;
        color: #101640;
        font-family: $montsans;
        margin-bottom: 20px;
        @include mobileS{
            text-align: center;
            font-size: 24px;
        }
    }

    form{
        width: 50%;
        font-family: $montsans;
        text-align: center;
        border: 3px solid #101640;
        padding: 15px;
        @include mobileS{
            width: 90%;
        }


        textarea{
            font-family: $montsans;
            padding: 5px 10px;
            width: 90%;
            resize: none;
            margin-bottom: 10px;
        }

        input{
            font-family: $montsans;
            padding: 5px 10px;
            margin-bottom: 15px;
            width: 40%;

            @include mobileS{
                width: 75%;
            }
        }

        .submitproject{
            background-color: #101640;
            border: none;
            padding: 10px 30px;
            color: white;
            font-family: $montsans;
            font-weight: 600;
            cursor: pointer;
            box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.1);

            @include mobileS{
                width: auto;
            }
        }

        label{
            margin-top: 15px;
            text-align: left;
        }

        .file{
            margin-top: 10px;
            border: 1px solid black;
            background-color: #fff;
            width: auto;
            
            @include mobileS{
                width: 100%;
            }
        }
    }

}

@keyframes littlescaleshow{
	from{
		transform: scale(0.9);
	}

	to{
		transform: scale(1);
	}
}