.background-container{
    background-image: url(img/background_index.png);
    background-size: cover;
    background-position: center;
    height: 52vh;
    display: grid;
    place-items: center;
    position: relative;

    .title-logo{
        display: flex;
        align-items: center;   

        h2{
            font-family: $montsans;
            font-weight: 600;
            font-size: 58px;
            color: white;
        }
    }
    .studio{
        height: 7.5vh;
        position: absolute;
        bottom: -7%;
        text-align: center;
        background-color: #101640;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 25px;

        h3{
            font-family: $montsans;
            font-size: 32px;
            color: white;
        }

        &:after{
            content: "Site interne & Application";
            color: #707070;
            position: absolute;
            bottom: -57%;
            font-family: $montsans;
            font-size: 26px;
            font-weight: 200;
        }
    }
}

.infos-part{
    height: 63%;
    position: relative;
    overflow: hidden;

    img{
        position: absolute;
        bottom: 6%;
        right: -4.5%;
        
        &:nth-of-type(2){
            position: absolute;
            left: -4.5%;
            bottom: 6%;
        }
    }

    .infos{
        width: 64%;
        margin: 8% auto 5%;

        h3{
            font-family: 'Segoe UI';
            font-weight: 600;
            font-size: 40px;
            color: #111740;
        }

        p{
            font-family: $montsans;
            font-size: 24px;
            color: #707070;
            text-align: center;
            margin-top: 4.5%;

            span{
                font-weight: 200;
                font-style: italic;
            }
        }

        
    }
}