.burger_container{
    width: 100%;
    height: 100vh;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #101640;
    gap: 10%;
    opacity: 0;
    transition: 2s ease;
    z-index: 10;


    a{
        text-decoration: none;
        color: white;
        font-family: $montsans;
        font-size: 32px;
    }

    .burger_cross{
        position: absolute;
        top: 25px;
        right: 16px;
        font-size: 34px;
        color: white;
    }

    &.active{
        opacity: 0;
        transition: 2s ease;
        display: flex;
        animation: fade-in 1s;
        animation-fill-mode: forwards;
    }
    
    &.animation{
        opacity: 1;
        background-color: #101640;
        animation: fade-out 1s;
        animation-fill-mode: forwards;
    }
    
    @keyframes fade-in {
        from {
            opacity: 0;
            background-color: transparent;
        }
        to{
            opacity: 1;
            background-color: #101640;
        }
    }

    @keyframes fade-out{
        from{
            opacity: 1;
            background-color: #101640;
        }
        to{
            opacity: 0;
        background-color: transparent;
    }
    }
}

.drakkar-burger{
    position: relative;
    width: 100%;

    img:nth-of-type(1){
        width: 100px;
        animation: swell 3s ease infinite, traverse 20s linear infinite;
        transform: translate3d(0, 0, 0);
        transform-origin: bottom left;
        position: relative;
    }


    img:nth-of-type(2){
        position: absolute;
        width: 110vw;
        height: 50px;
        left: -20px;
        bottom: -15px;
    }

    &.reverse{
        img:nth-of-type(1){
            animation: swell 3s ease infinite, traverse-reverse 22s linear infinite;
            transform: translate3d(0, 0, 0);
            transform-origin: bottom right;
            position: relative;
        }
    }
}

@keyframes swell {
    0%,
      100% {
      transform: translate3d(-10px, -20px, 0);
      transform: rotateZ(-5deg)
    }
    50% {
      transform: translate3d(10px, -10px, 0);
      transform: rotateZ(5deg)
    }
}

@keyframes traverse {
    0%{
        left: -50vw;
    }

    100%{
        left: 100vw;
    }
}

@keyframes traverse-reverse {
    0%{
        left: 100vw;
    }

    100%{
        left: -50vw;
    }
}