.contacts-body{
    height: 100vh;


    .content{
        display: flex;
        width: 100%;

        .contact-part{
            width: 50%;
            height: 100vh;
            background-image: url(img/background-contact.png);
            background-size: cover;
            background-position: bottom;
            display: flex;
            align-items: center;

            .contact{
                width: 64%;
                margin-left: 11.25%;

                h2{
                    font-family: $montsans;
                    font-weight: bold;
                    font-size: 52px;
                    color: white;
                    text-shadow: 4px 4px 2px rgba($color: #000000, $alpha: 0.41);
                    margin-bottom: 5%;
                }

                div{
                    display: flex;
                    gap: 25px;
                    align-items: center;

                    p{
                        color: white;
                        font-family: $montsans;
                        font-weight: 500;
                        font-size: 31px;
                    }
                }

                .social{
                    display: flex;
                    justify-content: space-between;
                    margin-top: 6.4%;

                    div{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                    }

                    a{
                        text-decoration: none;
                        background-color: white;
                        border-radius: 50px;
                        padding: 20px;
                        width: 66px;
                        height: 66px;
                        display: grid;
                        border: 5px solid #111740;
                        display: flex;
                        justify-content: center;
                        place-items: center;

                        i{
                            font-size: 32px;
                            color: #111740;
                        }
                    }

                    p{
                        font-family: $montsans;
                        font-weight: 500;
                        font-size: 20px;
                    }
                }

            }
        }

        .form-part{
            width: 50%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            padding-left: 5%;


            h2{
                color: #111740;
                font-size: 45px;
                font-family: 'Montserrat', sans-serif;
                font-weight: medium;
                margin-top: 10%;

            }
            

            form{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                width: 100%;
                height: 100%;
                margin-top: 1%;

                input{
                    border: 3px solid #111740 ;
                    width: 80%;
                    height: 5%;
                    margin-top: 30px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 200;
                    font-size: 24px;
                    text-align: left;
                    text-indent: 20px;
                    color: rgba($color: #000000, $alpha: 1);
                }

                input::placeholder{
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 200;
                    font-size: 24px;
                    text-align: left;
                    text-indent: 20px;
                    color: rgba($color: #000000, $alpha: 0.5);
                }

                textarea{
                    border: 3px solid #111740 ;
                    width: 80%;
                    height: 30%;
                    margin-top: 30px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 200;
                    font-size: 24px;
                    text-align: left;
                    text-indent: 20px;
                    color: rgba($color: #000000, $alpha: 0.5);
                    resize: none;
                }

                button{
                    width: 30%;
                    border: none;
                    margin-top: 50px;
                    background-color: #111740;
                    color: white;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: medium;
                    font-size: 34px;
                    padding: 20px 30px 20px 30px;
                    border-radius: 18px;
                }

            }
        }

    }   
}