.contacts-body{
    height: 100vh;


    .content{
        display: flex;
        width: 100%;

        @include xs{
            flex-direction: column;
        }

        .contact-part{
            width: 50%;
            height: 100vh;
            background-image: url(img/background-contact.png);
            background-size: cover;
            background-position: bottom;
            display: flex;
            align-items: center;

            @include xs{
                width: 100%;
            }

            .contact{
                width: 64%;
                margin-left: 11.25%;

                @include mobileS{
                    width: 100%;
                    margin: 0;
                }

                h2{
                    font-family: $montsans;
                    font-weight: bold;
                    font-size: 52px;
                    color: white;
                    text-shadow: 4px 4px 2px rgba($color: #000000, $alpha: 0.41);
                    margin-bottom: 5%;

                    @include mobileS{
                        width: 100%;
                        text-align: center;
                    }
                }

                div{
                    display: flex;
                    gap: 25px;
                    align-items: center;

                    @include mobileS{
                        gap: 10px;
                        flex-direction: column;
                    }

                    &:nth-of-type(3){
                        @include mobileS{
                            flex-direction: row;
                            justify-content: space-evenly;
                        }
                    }

                    img{
                        width: 45px;
                        height: 45px;
                    }

                    p{
                        color: white;
                        font-family: $montsans;
                        font-weight: 500;
                        font-size: 31px;

                        @include xs{
                            font-size: 24px;
                        }

                        @include mobileS{
                            font-size: 16px;
                            width: 100%;
                            text-align: center;
                        }
                    }
                }

                .social{
                    display: flex;
                    justify-content: space-between;
                    margin-top: 6.4%;

                    div{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                    }

                    a{
                        text-decoration: none;
                        background-color: white;
                        border-radius: 50px;
                        padding: 20px;
                        width: 66px;
                        height: 66px;
                        display: grid;
                        border: 5px solid #111740;
                        display: flex;
                        justify-content: center;
                        place-items: center;

                        @include xs{
                            width: 45px;
                            height: 45px;
                        }

                        i{
                            font-size: 32px;
                            color: #111740;

                            @include xs{
                                font-size: 24px;
                            }
                        }
                    }

                    p{
                        font-family: $montsans;
                        font-weight: 500;
                        font-size: 20px;

                        @include xs{
                            font-size: 16px;
                        }
                    }
                }

            }
        }

        .form-part{
            width: 50%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            padding-left: 5%;

            @include xs{
                width: 100%;
                padding: 0 5%;            
            }


            h2{
                color: #111740;
                font-size: 45px;
                font-family: 'Montserrat', sans-serif;
                font-weight: medium;
                margin-top: 10%;

                @include mobileS{
                    text-align: center;
                }
            }
            

            form{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                width: 100%;
                height: 100%;
                margin-top: 1%;

                @include xs{
                    align-items: center;
                }

                input{
                    border: 3px solid #111740 ;
                    width: 80%;
                    height: 5%;
                    margin-top: 30px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 200;
                    font-size: 24px;
                    text-align: left;
                    text-indent: 20px;
                    color: rgba($color: #000000, $alpha: 1);
                }

                input::placeholder{
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 200;
                    font-size: 24px;
                    text-align: left;
                    text-indent: 20px;
                    color: rgba($color: #000000, $alpha: 0.5);
                }

                textarea{
                    border: 3px solid #111740 ;
                    width: 80%;
                    height: 28vh;
                    font-size: 18px;
                    line-height: 60px;
                    margin-top: 30px;
                    text-align: left;
                    text-indent: 20px;
                    color: rgba($color: #000000, $alpha: 0.5);
                    font-family: 'Montserrat', sans-serif;
                    resize: none;
                    color: black;
                }

                textarea::placeholder{
                    line-height: 60px;
                    color: rgba($color: #000000, $alpha: 0.5);
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 200;
                    font-size: 24px;
                }

                button{
                    border: none;
                    margin-top: 5%;
                    background-color: #111740;
                    color: white;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 500;
                    font-size: 34px;
                    padding: 20px 60px;
                    border-radius: 18px;

                    @include mobileS{
                        padding: 10px 30px;
                        font-size: 17px;
                    }
                }
            }
        }
    }   
}