footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    section{
        width: 100%;
        background-color: #111740;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    section:nth-child(1){
        padding-top: 50%;
        background-color: transparent;
        background-image: url('img/footer_viking.png');
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        padding-bottom: 1px;
        @include mobileS{
            background-size: contain;
        }
    }

    section:nth-child(2){
        display: flex;
        justify-content: space-between;
        padding: 5% 0;
        align-items: center;
        flex-direction: row;
        @include mobileS{
            flex-direction: column;
        }

        div{
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: row;
            @include mobileS{
                justify-content: center;
            }
        }

        div:nth-child(1){
            width: 60%;
            @include mobileS{
                width: 100%;
            }
            
            img{
                width: 12%;
                @include mobileS{
                    width: 25%;
                }
            }

            p{
                color: white;
                font-size: 58px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                @include mobileS{
                    font-size: 24px;
                }
            }

            p:nth-child(1){
                padding-left: 60px;
                @include mobileS{
                    padding: 0;
                }
            }
        }

        div:nth-child(2){
            @include mobileS{
                margin-top: 10%;
                
            }
            a{
                text-decoration: none;
                padding-right: 70px;
                color: white;
                font-size: 27px;
                font-family: 'Montserrat', sans-serif;
                font-weight: normal;
                transition: 150ms;
                @include mobileS{
                    font-size: 16px;
                    padding: 0 0;
                }

                &:hover{
                    font-weight: 600;
                }
            }
        }
    }
}

@media only screen and (max-width: 1032px) {
    footer{
      

        section:nth-child(2){           
            div:nth-child(1){
                p{
                    font-size: 38px;
                }
            }
    }   
}}

@media only screen and (max-width: 880px) {
    
    footer{
        section:nth-child(2){
            flex-direction: column;
            justify-content: center;

            div:nth-child(1){
                width: fit-content;
                p{
                    font-size: 28px;
                }
            }

            div:nth-child(2){
                width: fit-content;
                
                a{
                    padding-right: 10px;
                    padding-left: 10px;
                }
            }
        }
    }
}