.login-background-container{
    background-image: url(img/background_index.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: grid;
    place-items: center;

    .text{
        margin-top: 50px;
        padding: 20px 10%;
        background-color: #101640;
        color: white;
        text-align: center;

        h1{
            font-family: $montsans;
            font-size: 48px;
            @include xs{
                font-size: 32px;
            }
            
            @include mobileS{
                font-size: 28px;
            }
        }

        .wrong{
            margin-top: 15px;
            font-weight: 200;
            font-family: $montsans;
            font-size: 12px;
        }

        form{
            margin-top: 50px;

            .pseudo, .password{
                width: 100%;
                border: none;
                margin-top: 10px;
                padding: 10px 30px;
                font-family: $montsans;
                font-size: 20px;
                font-weight: 300;
            }

            .submit{
                cursor: pointer;
                background-color: white;
                color: #101640;
                padding: 10px 20px;
                border: none;
                font-family: $montsans;
                margin-top: 20px;
                font-size: 20px;
                font-weight: 600;
                transition: 300ms;

                &:hover{
                    color: white;
                    background-color: #101640;
                    border: 1px solid white;
                    box-shadow: 0 5px 10px rgba($color: white, $alpha: 0.2);
                }
            }
        }
    }
}