.buffer{
    width: 100%;
    height: 25vh;
    
    &.small{
        height: 5vh;
    }
}

.project-intro{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img{
        width: 10%;
        margin-bottom: 20px;
        @include burger {
            width: 30%;
        }
    }

    h1{
        font-family: $montsans;
        font-size: 32px;
        color:  #101640;
        text-align: center;
        @include burger{
            font-size: 28px;
            padding: 0 10px;
        }
    }
    
    p{
    
        font-family: $montsans;
        font-size: 20px;
        padding-top: 30px;
        font-family: "Montserrat", sans-serif;
        color: #707070;
        text-align: center;
    }

}

.project{
    display: flex;
    flex-direction: row;
    max-height: 600px;
    background-color: #101640;

    @include burger{
        flex-direction: column;
        max-height: none;
    }

    &.reverse{
        flex-direction: row-reverse ;
    
        @include burger{
            flex-direction: column;
    
        }
    }

    div:nth-child(1){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 45%;
        

        @include burger{
            width: 100%;
            max-height: none;
        }

        div:nth-child(1){
            height: 100%;
            width: 100%;
            background-color: #fff;

            h2{
                padding: 20px 0px;
                font-weight: bold;
                color: black;
                font-size: 32px;
                font-family: "Montserrat", sans-serif;
                text-align: center;
                @include burger{
                    font-size: 24px;
                    margin: 20px 0;
                    padding: 0 5px;
                }
            }

            p{
                text-align: center;
                padding: 0 35px 20px;
                font-family: "Montserrat", sans-serif;
                color: black;
                line-height: 1.5;

                @include l{
                    font-size: 16px;
                    padding: 0 20px 10px;
                }
            }

            img{
                padding-top: 20px;
                max-height: 150px;
                max-width: 250px;
            }
        }

        div:nth-child(2){
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            

            h3{
                color:  white;
                font-family: "Montserrat", sans-serif;
                padding-bottom: 20px;
                font-weight: bold;
                padding-top: 10px;
            }

            p{
                color:  white;
                font-family: "Montserrat", sans-serif;
                padding: 10px 10px 20px;
                line-height: 1.2;

                @include l{
                    font-size: 16px;
                    
                }

                @include burger{
                    font-size: 14px;
                   
                }
            }
        }
    }

    div:nth-child(2){
        width: 55%;

        @include burger{
            width: 100%;
        }
        img{
            object-fit: cover;
            object-position: center;
            width:100%;
            height: 100%;
            max-height: 600px;
        }
    }
}